<?xml version="1.0"?>
<!--
/**
 * UnCancelOrder
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="sales">
            <module name="Asyr_UnCancelOrder" before="Magento_Sales" />
        </route>
    </router>
</config>
